/.sisyphus
/.idea
.env
*cover
cover*
coverage*
*coverage
*.out
*.exe
/dev-tool/__pycache__
/dev-tool/*.json
/dev-tool/msg.txt
/dev-tool/.aim_state.json
/dev-tool/.state.json
/dev-tool/msg.txt
/dev-tool/user.json
/dev-tool/result.json
/plan
/plans
/.mcp.json
/.pi
/.opencode
/.trae